<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  <link rel="stylesheet" th:href="@{/css/admin-user.css}">
  <link rel="stylesheet" th:href="@{/css/admin-fragments.css}">

  <title>Bookstore management</title>
</head>

<body>
<!--Start admin topbar-->
<div th:replace="fragments::admin-topbar"></div>
<!--End admin topbar-->
<!--Start admin sidebar-->
<div th:replace="fragments::admin-sidebar"></div>
<!--End admin sidebar-->
<div class="main">
  <div class="cards">
    <div class="card">
      <div class="card-content">
        <div class="number" th:text="${products.size()}"></div>
        <div class="card-name">Product</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-books"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="number" th:text="${users.size()}"></div>
        <div class="card-name">Users</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-users"></i>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="number" th:text="${orders.size()}"></div>
        <div class="card-name">Orders</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-bags-shopping"></i>
      </div>
    </div>

  </div>
  <div class="mx-5">
    <div class="d-flex justify-content-between align-items-center px-2 py-1 my-2"
    >
      <h3 class="mb-0">All Users</h3>
    </div>
    <table class="table">
      <div class="d-flex fw-bold">
        <div class="px-2 py-1" style="border: 1px solid #ccc; width:10%;">ID</div>
        <div class="px-2 py-1" style="border: 1px solid #ccc; width:20%;">Ngày đặt hàng</div>
        <div class="px-2 py-1" style="border: 1px solid #ccc; flex:1;">Trạng thái</div>
        <div class="px-2 py-1" style="border: 1px solid #ccc; width:20%;">Người đặt</div>
        <div class="px-2 py-1" style="border: 1px solid #ccc; width:15%;">Tổng đơn hàng</div>
        <div class="px-2 py-1" style="border: 1px solid #ccc; width:15%;">Action</div>
      </div>
      <div class="d-flex" th:each="order : ${orders}">
        <div class="px-2 py-1" style="border: 1px solid #ccc; width:10%;" th:text="${order.orderID}"></div>
        <div class="px-2 py-1" style="border: 1px solid #ccc; width:20%;" th:text="${order.getOrderDate()}"></div>
        <div class="px-2 py-1" style="border: 1px solid #ccc; flex:1;" th:text="${order.payment} + ' - ' + ${order.getOrderStatus()}"></div>
        <div class="px-2 py-1" style="border: 1px solid #ccc; width: 20%" th:text="${order.name}"></div>
        <div class="px-2 py-1" style="border: 1px solid #ccc; width:15%;" th:text="${order.totalPrice} + 'đ'"></div>
        <div class="px-2 py-1 d-flex justify-content-center align-items-center" style="border: 1px solid #ccc; width:15%;" >
          <a class="mx-2" th:href="@{/admin/order/{id} (id = ${order.getOrderID()})}" style="background-color: #ccc; border-radius: 4px; padding: 10px; font-size: 20px;" >
            <i class="fas fa-pen"></i>
          </a>
          <a class="mx-2" th:href="@{/delete-order/{id} (id = ${order.orderID})}" style="background-color: #ccc; border-radius: 4px; padding: 10px; font-size: 20px;" >
            <i class="fas fa-trash" style="color: red"></i>
          </a>
        </div>
      </div>
    </table>
  </div>
</div>
</body>

</html>